*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

header{
    background-color: #8FC9A3;
    height: 100px
}

.center {
    margin-left :200px;
    margin-right: 200px;
}